* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}

body::-webkit-scrollbar {
    width: 1.2rem;
}

body::-webkit-scrollbar-track {
    background: rgb(21, 25, 29);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(217, 3, 104) !important;
    border-radius: 20px;
    border: 0.35rem solid rgb(21, 25, 29);
}

#NavHeaderPages-SiteLogo {
    height: 3rem !important;
}

#NavHeaderPages-CollapseIcon:focus {
    box-shadow: 0px 0px 5px 2px rgb(217, 3, 104) !important;
    border: 1px solid rgb(217, 3, 104) !important;
}

#NavHeaderPages .pages-page:hover {
    background-color: rgb(217, 3, 104, .5) !important;
}

#NavHeaderPages .pages-page.active {
    background-color: rgb(217, 3, 104) !important;
}

#NavHeaderArrows a[href="#top"] {
    text-decoration: none !important;
}

#NavHeaderArrows-Title {
    box-shadow: 0px 0px 5px 2px rgb(217, 3, 104) !important;
    text-transform: uppercase !important;
    color: rgba(248, 249, 250, .75) !important;
}

#NavHeaderArrows-Title:hover {
    background-color: rgb(217, 3, 104) !important;
}

#NavHeaderArrows .arrows-arrow {
    height: 3rem !important;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%) !important;
    opacity: .75 !important;
}

#NavHeaderArrows .arrows-arrowcontainer:hover {
    background-color: rgb(217, 3, 104) !important;
}

main {
    min-height: 73vh;
}

#NavMainCategories .categories-category {
    color: rgba(248, 249, 250, .75) !important;
}

#NavMainCategories .categories-category:hover {
    background-color: rgb(217, 3, 104) !important;
}

#NavMainCategories .btn-check:checked+.categories-category {
    background-color: rgba(217, 3, 104, 0.75) !important;
    border-color: rgba(217, 3, 104, 0.75) !important;
}

#NavMainSearch .search-input:focus {
    border: 1px solid rgb(217, 3, 104) !important;
    box-shadow: 0px 0px 5px 2px rgb(217, 3, 104) !important;
}

#NavMainSearch .search-input::-webkit-search-cancel-button {
    display: none;
}


#NavMainSearch-Icon {
    height: 2.2rem !important;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%) !important;
    opacity: .75 !important;
}

#CardMainGroup .col>.card .card-img {
    height: 25vh !important;
    object-fit: cover !important;
}

#CardMainGroup .card-body {
    min-height: 20vh;
}

#CardMainGroup .col>.card>.card-body>.card-footer>.see-more {
    color: rgba(248, 249, 250, .75) !important;
    background-color: rgba(217, 3, 104, .75) !important;
    text-decoration: none !important;
}

#CardMainGroup .col>.card>.card-body>.card-footer>.see-more:hover {
    box-shadow: 0px 0px 5px 2px whitesmoke !important;
}

#CardMainDetails-image {
    object-fit: cover !important;
}

#FormMainContact .contact-textarea {
    max-height: 30vh !important;
}

#FormMainContact .contact-input:focus,
#FormMainContact .contact-textarea:focus {
    border: 1px solid rgb(217, 3, 104) !important;
    box-shadow: 0px 0px 5px 2px rgb(217, 3, 104) !important;
}

#FormMainContact-Submit {
    box-shadow: 0px 0px 5px 2px rgb(217, 3, 104) !important;
    color: rgba(248, 249, 250, .75) !important;
}

#FormMainContact-Submit:hover {
    background-color: rgb(217, 3, 104) !important;
}

.table-stats tbody tr td {
    height: 3rem !important;
}

#MediaFooterLinks .links-link {
    background-color: rgb(217, 3, 104) !important;
}

#MediaFooterLinks .links-link:hover {
    box-shadow: 0px 0px 5px 2px whitesmoke !important;
}

#MediaFooterLinks .links-linkicon {
    height: 2.5rem !important;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%) !important;
    padding: 5px !important;
}

@media (max-width: 576px) {
    #NavHeaderArrows-Title {
        font-size: 0.75rem !important;
    }

    #NavHeaderPages-SiteLogo,
    #NavHeaderArrows .arrows-arrow {
        height: 2rem !important;
    }
}