* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}

.navbar-toggler:focus,
#navbarHeaderNavArrows div h1,
form fieldset button[type="submit"] {
    box-shadow: 0px 0px 5px 5px rgb(217, 3, 104) !important;
}

a.navbar-brand img,
#navbarHeaderNavArrows div a img {
    height: 3rem;
}

#navbarHeaderNavTop div a.active,
#navbarHeaderNavArrows div a h1:hover,
form button[type="submit"]:hover,
main nav div label:hover {
    background-color: rgb(217, 3, 104) !important;
}

#navbarHeaderNavTop div a:hover,
#navbarHeaderNavArrows div a img:hover {
    background-color: rgba(217, 3, 104, .5);
}

#navbarHeaderNavArrows {
    height: 6rem;
}

#navbarHeaderNavArrows div a img,
main nav form img {
    filter: invert(15%) sepia(98%) saturate(7178%) hue-rotate(322deg) brightness(81%) contrast(116%);
}

main nav form img {
    height: 2.5rem !important;
}

h1 {
    text-transform: uppercase;
}

form img {
    border: 1px solid rgb(217, 3, 104)!important;
    border-radius: 0.5rem;
}

main form input:focus,
main form textarea:focus {
    border: 1px solid rgb(217, 3, 104) !important;
    box-shadow: 0px 0px 5px 1px rgb(217, 3, 104) !important;
}

#card-groupMain img {
    height: 20vh;
    object-fit: cover;
}

div.card-footer a:hover,
form img:hover {
    box-shadow: 0px 0px 5px 1px rgb(217, 3, 104) !important;
}

table tbody tr td {
    height: 3rem;
}

@media (max-width: 576px) {
    h1 {
        font-size: 0.75rem;
    }

    a.navbar-brand img,
    #navbarHeaderNavArrows div a img {
        height: 2rem;
    }
}

@media (max-width: 718px) {
    main nav {
        justify-content: center !important;
    }

    main nav div {
        text-align: center;
    }

    main nav form {
        padding-top: 0.5rem;
    }
}